<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= t('cryptokeys.columns.flags') %></th>
      <th><%= t('cryptokeys.columns.active') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% cryptokeys.each do |cryptokey| %>
      <tr>
        <td>
          <%= link_to cryptokey.flags, cryptokey %>
        </td>

        <td>
          <span class="<%= cryptokey.active ? 'text-success glyphicon glyphicon-ok' : '' %>">
          </span>
        </td>

        <td>
          <%= link_to edit_cryptokey_path(cryptokey),
          title: t('.edit') do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </td>

        <td>
          <%= link_to delete_cryptokey_path(cryptokey),
          title: t('.delete') do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
