<%= form_for(@cryptokey) do |f| %>

  <% unless @cryptokey.domain -%>
  <div class="form-group">
    <%= f.label :domain_id, t('cryptokey.columns.domain'), class: 'control-label' %><br>
    <%= f.select :domain_id, Domain.all.map {|d| [d.name, d.id]}, {}, {class: 'form-control'} %>
  </div>
  <% else %>
    <%= f.hidden_field :domain_id %>
  <% end -%>

  <div class="row">

    <div class="col-md-2">
      <div class="form-group <%= 'has-error' unless @cryptokey.errors[:flags].blank? %>">
        <%= f.label :flags, t('cryptokey.columns.flags'), class: 'control-label'  %><br>

        <% unless @cryptokey.errors[:flags].blank? %>
          <span class="label label-danger">
            <%= @cryptokey.errors[:flags].first %>
          </span>
        <% end %>

        <%= f.select :flags, Cryptokey.flags.keys, {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group <%= 'has-error' unless @cryptokey.errors[:active].blank? %>">
        <%= f.label ' ' %>

        <div class="checkbox">
          <%= f.label :active, class: 'control-label' do %>
            <%= f.check_box :active %><%= t('cryptokeys.columns.active') %> 
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <div class="form-group <%= 'has-error' unless @cryptokey.errors[:content].blank? %>">
    <%= f.label :content, t('cryptokey.columns.content'), class: 'control-label' %><br>

    <% unless @cryptokey.errors[:content].blank? %>
      <span class="label label-danger">
        <%= @cryptokey.errors[:content].first %>
      </span>
    <% end %>

    <%= f.text_area :content, class: 'form-control', maxlength: 65535, rows: 20 %>
  </div>

  <div class="actions pull-right">
    <%= button_tag type: 'reset', class: 'btn btn-default' do %>
      Reset
    <% end %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
