<%= form_for(@cryptokey) do |f| %>
  <% if @cryptokey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cryptokey.errors.count, "error") %> prohibited this cryptokey from being saved:</h2>

      <ul>
      <% @cryptokey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @cryptokey.domain -%>
  <div class="form-group">
    <%= f.label :domain_id, t('cryptokey.columns.domain') %><br>
    <%= f.select :domain_id, Domain.all.map {|d| [d.name, d.id]}, {}, {class: 'form-control'} %>
  </div>
  <% end -%>
  <div class="form-group">
    <%= f.label :flags, t('cryptokey.columns.flags')  %><br>
    <%= f.number_field :flags, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :active, t('cryptokey.columns.active') %><br>
    <%= f.check_box :active, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, t('cryptokey.columns.content') %><br>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div class="actions pull-right">
    <%= button_tag type: 'reset', class: 'btn btn-default' do %>
      Reset
    <% end %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
