<h1>
  <%= "#{@cryptokey.flags} #{t('c.for')} #{@cryptokey.domain.name}" %>
</h1>

<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt>
  <%= t('cryptokeys.columns.domain') %>
  </dt>
  <dd>
  <%= link_to @cryptokey.domain.name, @cryptokey.domain or '-' %>
  </dd>

  <dt>
  <%= t('cryptokeys.columns.flags') %>
  </dt>
  <dd>
  <%= @cryptokey.flags %>
  </dd>

  <dt>
  <%= t('cryptokeys.columns.active') %>
  </dt>
  <dd>
  <%= @cryptokey.active %>
  </dd>

  <dt>
  <%= t('cryptokeys.columns.content') %>
  </dt>
  <dd>
  <%= simple_format @cryptokey.content, wrapper_tag: 'div',
    class: 'well',
      style: 'word-wrap: break-word;'
  %>
  </dd>
</dl>

<%= button_to t('c.edit'), edit_cryptokey_path(@cryptokey), class: 'btn btn-primary',
  method: :get
%>
<%= button_to t('c.back'), @cryptokey.domain ? @cryptokey.domain : domains_path,
  class: "btn btn-default", method: :get
%>
