<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= t('comments.columns.name') %></th>
      <th><%= t('comments.columns.type') %></th>
      <th><%= t('comments.columns.modified') %></th>
      <th><%= t('comments.columns.account') %></th>
      <th><%= t('comments.columns.comment') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% comments.each do |comment| %>
      <tr>
        <td><%= comment.name %></td>
        <td><%= comment.type %></td>
        <td><%= comment.modified_at %></td>
        <td><%= comment.account %></td>
        <td><%= comment.comment %></td>
        <td><%= link_to edit_comment_path(comment),
          title: t('.edit') do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %></td>
        <td><%= link_to comment, method: :delete,
          data: { confirm: 'Are you sure?' },
          title: t('.delete') do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
