<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @comment.domain -%>
  <div class="form-group">
    <%= f.label :domain_id, t('comments.columns.domain') %><br>
    <%= f.select :domain_id, Domain.all.map {|d| [d.name, d.id]}, {}, {class: 'form-control'} %>
  </div>
  <% end -%>
  <div class="form-group">
    <%= f.label :name, t('comments.columns.name') %><br>
    <%= f.text_field :name, maxlength: 255, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :type, t('comments.columns.type') %><br>
    <%= f.text_field :type, maxlength: 255, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :comment, t('comments.columns.comment') %><br>
    <%= f.text_area :comment, maxlength: 65535, class: 'form-control' %>
  </div>
  <div class="actions pull-right">
    <%= button_tag type: 'reset', class: 'btn btn-default' do %>
      Reset
    <% end %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
