<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @comment.domain %>
</p>

<p>
  <strong>Name:</strong>
  <%= @comment.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @comment.type %>
</p>

<p>
  <strong>Modified at:</strong>
  <%= @comment.modified_at %>
</p>

<p>
  <strong>Account:</strong>
  <%= @comment.account %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
