%table.table.table-condensed
  %thead
    %tr
      %th= t 'domainmetadata.columns.kind'
      %th= t 'domainmetadata.columns.content'
      %th{colspan: 2}

  %tbody
    - domainmetadata.each do |domainmetadatum|
      %tr
        %td= domainmetadatum.kind
        %td= domainmetadatum.content
        %td
          = link_to edit_domainmetadatum_path(domainmetadatum), title: t('.edit') do
            %span.glyphicon.glyphicon-edit/
        %td
          = link_to delete_domainmetadatum_path(domainmetadatum), title: t('.delete') do
            %span.glyphicon.glyphicon-remove/

