<%= form_for(@domainmetadatum) do |f| %>
  <% if @domainmetadatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domainmetadatum.errors.count, "error") %> prohibited this domainmetadatum from being saved:</h2>

      <ul>
      <% @domainmetadatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @domainmetadatum.domain -%>
  <div class="form-group">
    <%= f.label :domain_id, t('domainmetadata.columns.domain') %><br>
    <%= f.select :domain_id, Domain.all.map {|d| [d.name, d.id]}, {}, {class: 'form-control'} %>
  </div>
  <% end -%>
  <div class="form-group">
    <%= f.label :kind, t('domainmetadata.columns.kind') %><br>
    <%= f.select :kind, Domainmetadatum::Kinds, {}, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :content, t('domainmetadata.columns.content') %><br>
    <% if @domainmetadatum.kind == 'SOA-EDIT' -%>
      <%= f.select :content, Domainmetadatum::SOAEdits, {}, {class: 'form-control'} %>
    <% else -%>
      <%= f.text_area :content, maxlength: 65535, class: 'form-control' %>
    <% end -%>
  </div>
  <div class="actions pull-right">
    <%= button_tag type: 'reset', class: 'btn btn-default' do %>
      Reset
    <% end %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
