= notice_or_errors_tag 

%h1
  = t('.title')
  = @domainmetadatum.kind

.alert.alert-warning= t('.warning')

%hr

= button_to t('c.delete'), @domainmetadatum,
  class: "btn btn-primary", method: :delete

