<h1>
  Domainmetadata
  <%= "#{t('c.for')} #{@domainmetadatum.domain.name}" %>
</h1>

<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% elsif @domainmetadatum.errors.any? %>
  <div class="alert alert-danger">
    <%= @domainmetadatum.errors.messages %>
  </div>
<% end %>

<dl class="dl-horizontal">
  <dt>
  <%= t('domainmetadata.columns.domain') %>
  </dt>
  <dd>
  <%= link_to @domainmetadatum.domain.name, @domainmetadatum.domain or '-' %>
  </dd>

  <dt>
  <%= t('domainmetadata.columns.kind') %>
  </dt>
  <dd>
  <%= @domainmetadatum.kind or '-' %>
  </dd>

  <dt>
  <%= t('domainmetadata.columns.content') %>
  </dt>
  <dd>
  <%= @domainmetadatum.content or '-' %>
  </dd>

</dl>

<%= button_to t('c.back'), @domainmetadatum.domain ? @domainmetadatum.domain : domains_path,
  class: "btn btn-default", method: :get
%>
<%= button_to t('c.edit'), edit_domainmetadatum_path(@domainmetadatum), class: 'btn btn-primary',
  method: :get
%>
