
<%= form_for @user, html: {role: :form} do |f| %>

  <% if @user.errors[:base].any? %>
    <div class="alert alert-danger">
      <%= @user.errors[:base].first %>
    </div>
  <% end -%>


  <div class="row">
    <div class="col-md-7">
      <div class="form-group <%= 'has-error' unless @user.errors[:username].blank? %>">
        <%= f.label :username, t('users.columns.username'), class: 'control-label' %>
        <% unless @user.errors[:username].blank? %>
          <span class="label label-danger">
            <%= @user.errors[:username].first %>
          </span>
        <% end %>
        <%= f.text_field :username, maxlength: 255, class: 'form-control' %>
      </div>
    </div>

    <% if @user.admin %>
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label ' ' %>
        <div class="checkbox">
          <%= f.label :admin, class: 'control-label' do %>
            <%= f.check_box :admin %><%= t('users.columns.admin') %> 
          <% end %>
          <p class="help-block"><%= t('.help.admin') %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group <%= 'has-error' unless @user.errors[:default_primary].blank? %>">
        <%= f.label :default_primary, t('users.columns.default_primary'), class: 'control-label' %>
        <% unless @user.errors[:default_primary].blank? %>
          <span class="label label-danger">
            <%= @user.errors[:default_primary].first %>
          </span>
        <% end %>
        <%= f.text_field :default_primary, maxlength: 255, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group <%= 'has-error' unless @user.errors[:default_postmaster].blank? %>">
        <%= f.label :default_postmaster, t('users.columns.default_postmaster'), class: 'control-label' %>
        <% unless @user.errors[:default_postmaster].blank? %>
          <span class="label label-danger">
            <%= @user.errors[:default_postmaster].first %>
          </span>
        <% end %>
        <%= f.text_field :default_postmaster, maxlength: 255, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="help-block"><%= t('.help.defaults') %></p>
    </div>
  </div>

  <hr>
    <div class="form-group <%= 'has-error' unless @user.errors[:password].blank? %>">
      <%= f.label :password, t('.password'), class: 'control-label' %>
      <% unless @user.errors[:password].blank? %>
        <span class="label label-danger">
        <%= @user.errors[:password].first %>
      </span>
    <% end %>
      <%= f.text_field :password, maxlength: 255, class: 'form-control' %>
    </div>

    <div class="form-group <%= 'has-error' unless @user.errors[:password_confirmation].blank? %>">
      <%= f.label :password_confirmation, t('.password_confirmation'), class: 'control-label' %>
      <% unless @user.errors[:password_confirmation].blank? %>
        <span class="label label-danger">
        <%= @user.errors[:password_confirmation].first %>
      </span>
    <% end %>
      <%= f.text_field :password_confirmation, maxlength: 255, class: 'form-control' %>
    </div>

    <div class="actions pull-right">
      <%= button_tag type: 'reset', class: 'btn btn-default' do %>
        Reset
    <% end %>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
