<% count    ||= 10 -%>
<% per_page ||= 25 -%>
<% page     ||= 1 -%>
<% var_name ||= 'page' -%>
<% anchor   ||= nil -%>

<% pages    ||= (count / (per_page + 1)) + 1 -%>

<% if pages > 1 -%>
  <div class="text-center">
    <ul class="pagination pagination-sm">

      <li class="<%= 'disabled' if page == 1 %>">
      <%= link_to raw('&laquo'), var_name => (page > 2) ? (page - 1) : nil, anchor: anchor %>
      </li>

      <% pages.times do |p| -%>
        <li class="<%= 'active' if page == p + 1 %>">
        <%= link_to p + 1, var_name => (p > 0) ? (p + 1) : nil, anchor: anchor %>
        </li>
      <% end -%>

      <li class="<%= 'disabled' if page >= pages %>">
      <%= link_to raw('&raquo'), var_name => (page + 1), anchor: anchor %>
      </li>

    </ul>
  </div>
<% end -%>
