<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @domain -%>
  <div class="field">
    <%= f.label :domain_id %><br>
    <%= f.text_field :domain_id %>
  </div>
  <% end -%>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, Record::Types %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :ttl %><br>
    <%= f.number_field :ttl %>
  </div>
  <div class="field">
    <%= f.label :prio %><br>
    <%= f.number_field :prio %>
  </div>
  <div class="field">
    <%= f.label :ordername %><br>
    <%= f.text_field :ordername %>
  </div>
  <div class="field">
    <%= f.label :auth %><br>
    <%= f.check_box :auth %>
  </div>
  <div class="field">
    <%= f.label :change_date %><br>
    <%= f.date_select :change_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
