<%= form_for @record, html: {role: :form} do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# Domain can only be choosed if none is defined yet %>
  <% unless @record.domain -%>
  <div class="form-group">
    <%= f.label :domain_id, t('records.columns.domain') %><br>
    <%= f.select :domain_id, Domain.all.map {|d| [d.name, d.id]}, {}, {class: 'form-control'} %>
  </div>
  <% else %>
  <%= f.hidden_field :domain_id %>
  <% end -%>

  <div class="form-group">
    <%= f.label :name, t('records.columns.name') %><br>
    <%= f.text_field :name, maxlength: 255, class: 'form-control' %>
  </div>
  <%# Ordername is only relevant with crypto and NSEC3 modes other then 'Narrow' 
      see: http://downloads.powerdns.com/documentation/html/dnssec-modes.html %>
  <% unless @record.domain.cryptokeys.empty? -%>
  <div class="form-group">
    <%= f.label :ordername, t('records.columns.ordername') %><br>
    <%= f.text_field :ordername, maxlength: 255, class: 'form-control' %>
  </div>
  <% end -%>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :type, t('records.columns.type') %><br>
        <%= f.select :type, Record::Types, {}, {class: 'form-control'} %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :ttl, 'TTL' %><br>
        <%= f.number_field :ttl, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <%= f.label :prio, t('records.columns.prio') %><br>
        <%= f.number_field :prio, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label ' ' %>
        <div class="checkbox">
          <%= f.label :auth do %>
            <%= f.check_box :auth %><%= t('records.colums.auth') %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, t('records.content') %><br>
    <%= f.text_area :content, maxlength: 65535, class: 'form-control' %>
  </div>
  <div class="actions pull-right">
    <%= button_tag type: 'reset', class: 'btn btn-default' do %>
      Reset
    <% end %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
