<% no_links ||= false -%>
<% per_page ||= 25 -%>
<% page     ||= 1 -%>

<a name="records"></a>
<table class="table table-striped table-condensed">
  <thead>
    <tr>

      <th>
        <%= t('records.columns.name') %>
      </th>

      <th>
        TTL
      </th>

      <th>
        <%= t('records.columns.type') %>
      </th>

      <th>
        <%= t('records.columns.prio') %>
      </th>

      <th>
        <%= t('records.columns.content') %>
      </th>

      <th title="<%= t('records.columns.disabled') %>">
        <span class="glyphicon glyphicon-off">
        </span>
      </th>

      <% if false %> 
        <th>
          <%= t('records.columns.modified') %>
        </th>
      <% end %>

      <% unless no_links -%>
        <th colspan="3"></th>
      <% end -%>

    </tr>
  </thead>

  <tbody>
    <% istart = (page - 1) * per_page -%>
    <% iend = istart + per_page - 1 -%>
    <% records.values_at(istart..iend).compact.each do |record| %>
      <tr <%= raw 'class="text-muted"' if record.disabled %>>

        <td>
          <%= link_to (record.name or ''), record, title: t('.show') %>
        </td>

        <td title="<%= sane_ttl record.ttl %>">
          <%= record.ttl %>
        </td>

        <td>
          <%= record.type %>
        </td>

        <td>
          <%= record.prio if record.prio.to_i > 0 %>
        </td>

        <td title="<%= record.type == 'SOA' ? soa_times(record.content) : record.content %>">
          <%= record.content %>
        </td>

        <td>
          <span class="<%= record.disabled ? 'text-danger glyphicon glyphicon-ok' : '' %>">
          </span>
        </td>

        <% if false %> 
          <td>
            <%= l record.change_date, format: :short if record.change_date %>
          </td>
        <% end %> 

        <% unless no_links -%>

          <td>
            <%= link_to edit_record_path(record), title: t('.edit') do %>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %>
          </td>

          <td>
            <%= link_to clone_record_path(record), title: t('.clone') do %>
              <span class="glyphicon glyphicon-share"></span>
            <% end %>
          </td>

          <td>
            <%= link_to delete_record_path(record), title: t('.delete') do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'shared/paginate',
  locals: {
  count: records.count,
  page: page,
  per_page: per_page,
  var_name: 'records_page',
  anchor: 'records'
} %>
