<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th><%= t('records.name') %></th>
      <th><%= t('records.type') %></th>
      <th><%= t('records.content') %></th>
      <th>TTL</th>
      <th><%= t('records.prio') %></th>
      <th><%= t('records.ordername') %></th>
      <th><%= t('records.auth') %></th>
      <th><%= t('records.modified') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% Record.type_sort(records).each do |record| %>
      <tr>
        <td><%= link_to (record.name or ''), record,
          title: t('records.show') %></td>
        <td><%= record.type %></td>
        <td><%= record.content %></td>
        <td><%= record.ttl %></td>
        <td><%= record.prio %></td>
        <td><%= record.ordername %></td>
        <td>
          <span class="glyphicon glyphicon-<%= record.auth ? 'ok' : 'remove' %>">
        </td>
        <td><%= l record.change_date, format: :short if record.change_date %></td>
        <td><%= link_to edit_record_path(record),
          title: t('records.edit') do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %></td>
        <td><%= link_to record, method: :delete,
          data: { confirm: 'Are you sure?' },
          title: t('records.delete') do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
