
<p id="notice"><%= notice %></p>

<h1>
  <%= t('.title') %> <%= @record.name %>
</h1>

<div class="alert alert-warning"><%= t('.warning') %></div>


<hr>


<%= button_to t('c.delete_record'), (@record),
  class: "btn btn-primary", method: :delete
%>
