<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @record.domain %>
</p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @record.type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @record.content %>
</p>

<p>
  <strong>Ttl:</strong>
  <%= @record.ttl %>
</p>

<p>
  <strong>Prio:</strong>
  <%= @record.prio %>
</p>

<p>
  <strong>Ordername:</strong>
  <%= @record.ordername %>
</p>

<p>
  <strong>Auth:</strong>
  <%= @record.auth %>
</p>

<p>
  <strong>Change date:</strong>
  <%= @record.change_date %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
