<h1>
  <%= " " + @record.name %>
  <%= button_to 'Edit', edit_record_path(@record), class: 'btn btn-primary',
    method: :get %>
  <%= button_to (t('c.back')), @record.domain ? @record.domain : domains_path,
    class: "btn btn-default", method: :get %>
</h1>

<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><%= t('records.columns.domain') %></dt>
  <dd><%= link_to @record.domain.name, @record.domain %></dd>

  <dt><%= t('records.columns.type') %></dt>
  <dd><%= @record.type %></dd>

  <dt><%= t('records.columns.content') %></dt>
  <dd><%= @record.content %></dd>

  <dt>TTL:</dt>
  <dd><%= @record.ttl %></dd>

  <dt><%= t('records.columns.prio') %></dt>
  <dd><%= @record.prio %></dd>

  <dt><%= t('records.columns.ordername') %></dt>
  <dd><%= @record.ordername %></dd>

  <dt><%= t('records.columns.auth') %></dt>
  <dd><%= @record.auth %></dd>

  <dt><%= t('records.columns.modified') %></dt>
  <dd><%= @record.change_date %></dd>
</dl>

