<h1>
  <%= @record.name %>
</h1>

<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning">
    <%= alert %>
  </div>
<% end %>
<% if @record.errors.any? %>
  <div class="alert alert-danger">
    <%= @record.errors.messages %>
  </div>
<% end %>

<dl class="dl-horizontal">
  <dt>
  <%= t('records.columns.domain') %>
  </dt>
  <dd>
  <%= link_to @record.domain.name, @record.domain or '-' %>
  </dd>

  <dt>
  <%= t('records.columns.type') %>
  </dt>
  <dd>
  <%= @record.type or '-' %>
  </dd>

  <dt>
  <%= t('records.columns.content') %>
  </dt>
  <dd title="<%= @record.type == 'SOA' ? soa_times(@record.content) : @record.content %>">
  <%= @record.content or '-' %>
  </dd>

  <dt>
  <%= t('records.columns.ttl') %>
  </dt>
  <dd title="<%=sane_ttl @record.ttl %>">
  <%= @record.ttl or '-' %>
  </dd>

  <dt>
  <%= t('records.columns.prio') %>
  </dt>
  <dd>
  <%= @record.prio or '-' %>
  </dd>

  <dt>
  <%= t('records.columns.ordername') %>
  </dt>
  <dd>
  <%= @record.ordername.blank? ? '-' : @record.ordername %>
  </dd>

  <dt>
  <%= t('records.columns.auth') %>
  </dt>
  <dd>
    <span class="glyphicon glyphicon-<%= @record.auth ? 'ok' : 'remove' %>">
    </span>
  </dd>

  <dt>
  <%= t('records.columns.disabled') %>
  </dt>
  <dd>
    <span class="glyphicon glyphicon-<%= @record.disabled ? 'ok' : 'remove' %>">
    </span>
  </dd>

  <dt>
  <%= t('records.columns.token') %>
  </dt>
  <dd>
  <%= @record.token.blank? ? '-' : @record.token %>
  </dd>

  <dt>
  <%= t('records.columns.modified') %>
  </dt>
  <dd>
  <%= l @record.change_date.localtime or '-' %>
  </dd>
</dl>

<%= button_to t('c.back'), @record.domain ? @record.domain : domains_path,
  class: "btn btn-default", method: :get
%>
<%= button_to t('c.delete'), delete_record_path(@record), class: 'btn btn-primary',
  method: :get
%>
<%= button_to t('c.clone'), clone_record_path(@record), class: 'btn btn-primary',
  method: :get
%>
<%= button_to t('c.generate_token'), generate_token_record_path(@record), class: 'btn btn-primary',
  method: :put
%>
<%= button_to t('c.edit'), edit_record_path(@record), class: 'btn btn-primary',
  method: :get
%>
