<div class="row">
  <div class="col-md-6">
    <%= form_for @domain, html: {role: :form} do |f| %>

      <div class="form-group <%= 'has-error' unless @domain.errors[:name].blank? %>">
        <%= f.label :name, t('domains.columns.name'), class: 'control-label' %>
        <% unless @domain.errors[:name].blank? %>
          <span class="label label-danger">
            <%= @domain.errors[:name].first %>
          </span>
        <% end %>
        <%= f.text_field :name, maxlength: 255, class: 'form-control' %>
      </div>

      <div class="form-group <%= 'has-error' unless @domain.errors[:master].blank? %>">
        <%= f.label :master, t('domains.columns.master'), class: 'control-label' %>
        <% unless @domain.errors[:master].blank? %>
          <span class="label label-danger">
            <%= @domain.errors[:master].first %>
          </span>
        <% end %>
        <%= f.text_field :master, maxlength: 255, class: 'form-control' %>
      </div>

      <div class="form-group <%= 'has-error' unless @domain.errors[:type].blank? %>">
        <%= f.label :type, t('domains.columns.type'), class: 'control-label' %>
        <% unless @domain.errors[:type].blank? %>
          <span class="label label-danger">
            <%= @domain.errors[:type].first %>
          </span>
        <% end %>
        <%= f.select :type, %w( MASTER NATIVE SLAVE ), {}, {class: 'form-control'} %>
      </div>

      <% if @user.admin %>
      <div class="form-group <%= 'has-error' unless @domain.errors[:users].blank? %>">
        <%= f.label :users, t('domains.columns.users'), class: 'control-label' %>
        <% unless @domain.errors[:users].blank? %>
          <span class="label label-danger">
            <%= @domain.errors[:users].first %>
          </span>
        <% end %>
        <%= f.collection_select :user_ids, User.all, :id, :username,
          {}, {multiple: true, class: 'form-control'} %>
      </div>
      <% end %>

      <div class="actions pull-right">
        <%= button_tag type: 'reset', class: 'btn btn-default' do %>
          Reset
        <% end %>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
