<h1>
  <%= t('.title') %>
  <%= button_to t('c.back'), domains_path,
    class: "btn btn-default", method: :get %>
</h1>

<%= form_tag(parse_domain_path(@domain), role: :form) do %>

  <div class="form-group <%= 'has-error' unless @domain.errors[:base].blank? %>">
    <%= label_tag :zone_file, '', class: 'control-label' %>
    <% unless @domain.errors[:base].blank? %>
      <span class="label label-danger">
        <%= @domain.errors[:base].first %>
      </span>
    <% end %>
    <%= text_area_tag :zone_file, params[:zone_file],
      {class: 'form-control', placeholder: t('.placeholder'),
       rows: 30} %>
  </div>

  <div class="actions pull-right">
    <%= button_tag type: 'reset', class: 'btn btn-default' do %>
      Reset
    <% end %>
    <%= submit_tag t('.submit'), {class: 'btn btn-primary'} %>
  </div>
<% end %>
