<h1>
  <%= @domain.name %>
  <% if @domain.soa and @domain.soa.disabled -%>
    <span class="label label-danger" title="<%= t('.enable_hint') %>">
      <%= t('.zone_disabled') %>
    </span>
  <% end -%>
</h1>

<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% elsif @domain.errors.any? %>
  <div class="alert alert-danger">
    <%= @domain.errors.messages %>
  </div>
<% end -%>

<div class="row">
  <div class="col-md-4">

    <h3>
      <%= t '.properties' %>
      <%= button_to t('c.edit'), edit_domain_path(@domain),
        class: "btn btn-primary", method: :get %>
    </h3>

    <div class="well">
      <dl class="dl-prop">
        <dt><%= t('domains.columns.master') %></dt>
        <dd><%= @domain.master or "-" %></dd>

        <dt><%= t('domains.columns.last_check') %></dt>
        <dd><%= @domain.last_check or "-" %></dd>

        <dt><%= t 'domains.columns.type' %></dt>
        <dd><%= @domain.type or "-" %></dd>

        <dt><%= t('domains.columns.notified_serial') %></dt>
        <dd><%= @domain.notified_serial or "-" %></dd>

        <dt><%= t 'domains.columns.account' %></dt>
        <dd><%= @domain.account or "-" %></dd>
      </dl>
    </div>

  </div>

  <div class="col-md-8">
    <h3>
      <%= t '.metadata' %>
      <%= button_to t('c.new'), new_domain_domainmetadatum_path(@domain),
        class: "btn btn-primary", method: :get %>
    </h3>
    <%= render partial: "domainmetadata/domainmetadata",
      locals: {domainmetadata: @domain.domainmetadata} %>
  </div>

</div>


  <h3>
    <%= t '.dnssec' %>
  </h3>

  <% if @domain.cryptokeys.empty? -%>
    <%= button_to t('.secure_zone'), secure_domain_path(@domain),
      class: "btn btn-primary", method: :put %>
  <% else -%>
<div class="row">
  <div class="col-md-3">
      <%= render partial: "cryptokeys/cryptokeys",
        locals: {cryptokeys: @domain.cryptokeys} %>
  </div>
  <div class="col-md-9">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>DS Keys</th>
        </tr>
      </thead>
      <tbody>
        <% @domain.dskeys.each do |d| %>
          <tr>
            <td style="word-break: break-all;"><%= d %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
  </div>
  <% end -%>

<% if false %>
    <h3>
      <%= t '.cryptokeys' %>
      <%= "(#{@domain.cryptokeys.count})" unless @domain.cryptokeys.empty? -%>
      <%= button_to t('c.new'), new_domain_cryptokey_path(@domain),
        class: "btn btn-primary", method: :get %>
    </h3>

    <%= render partial: "cryptokeys/cryptokeys",
      locals: {cryptokeys: @domain.cryptokeys} %>

  </div>
  <div class="col-md-8">

    <h3>
      <%= t '.comments' %>
      <%= "(#{@domain.comments.count})" unless @domain.comments.empty? -%>
      <%= button_to t('c.new'), new_domain_comment_path(@domain),
        class: "btn btn-primary", method: :get %>
    </h3>

    <%= render partial: "comments/comments",
      locals: {comments: @domain.comments} %>

<% end %>

<hr>

<h3>
  <%= t('.records') %>
  <%= "(#{@domain.records.count})" unless @domain.records.empty? -%>
  <%= button_to t('c.new'), new_domain_record_path(@domain),
    class: "btn btn-primary", method: :get %>
</h3>

<%= render partial: "records/records",
  locals: {
  records: @domain.records.type_sort,
  page: (@records_page > 1) ? @records_page : nil } 
%>
