<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

<head>
  <title>DNS API</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <header class="header">
      <ul class="nav nav-pills pull-right">
        <li>
          <%= link_to 'Logout', logout_path %>
        </li>
        <li<%= raw ' class="active"' if
          current_page?(controller: 'users', action: 'show', id: @user.id) -%>>
          <%= link_to t(:profile), @user %>
        </li>
      <% @nav_controller.each do |controller| -%>
        <li<%= raw ' class="active"' if
          current_page?(controller: controller) -%>>
          <%= link_to controller.capitalize,
            url_for(controller: controller) %>
        </li>
      <% end -%>
      </ul>

      <div class="banner">
        <h2 class="text-muted">
          <%= link_to 'DNS API', "/#{I18n.locale}" %>
          <%= raw '<span class="label label-warning" ' +
            'style="vertical-align:.1em;">Development</span>' if
            Rails.env == "development" %>
        </h2>

        <ul class="nav nav-lang">
          <% I18n.available_locales.each do |loc| %>
          <li>
          <%= link_to loc, url_for( locale: loc ),
            class: loc == I18n.locale ? 'text-muted' : '' %>
          </li>
          <% end %>
        </ul>

      </div>
    </header>
    <hr>
  </div> <!-- /container -->

  <div class="container">
    <% if flash[:error] %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>

    <%= yield %>
  </div> <!-- /container -->

  <div class="container">
    <hr>
    <footer class="footer">
      <p class="text-center text-muted">&copy; aibo 2014</p>
    </footer>
  </div> <!-- /container -->

</body>
</html>
