<%= form_for(@tsigkey) do |f| %>
  <% if @tsigkey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tsigkey.errors.count, "error") %> prohibited this tsigkey from being saved:</h2>

      <ul>
      <% @tsigkey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :algorithm %><br>
    <%= f.text_field :algorithm %>
  </div>
  <div class="field">
    <%= f.label :secret %><br>
    <%= f.text_field :secret %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
