<h1>
  Listing tsigkeys
  <%= button_to 'New', new_tsigkey_path, class: "btn btn-primary", method: :get %>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Algorithm</th>
      <th>Secret</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tsigkeys.each do |tsigkey| %>
      <tr>
        <td><%= link_to tsigkey.name, tsigkey %></td>
        <td><%= tsigkey.algorithm %></td>
        <td><%= tsigkey.secret %></td>
        <td><%= link_to edit_tsigkey_path(tsigkey) do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %></td>
        <td><%= link_to tsigkey, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
